<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h3>Danh sách thẻ bảo hiểm</h3>
<div>
    <table border="1">
        <h3>Tên công ty</h3>

        <select>
            <option th:each="company:${tblCompanies}" th:value="${company.id}" th:utext="${company.name}"></option>
        </select>

    </table>
    <form action="home" th:object="${searchForm}" method="get">
        <table class="tbl_input" cellpadding="4" cellspacing="0" width="400px">

            <tr>
                <th width="150px">&nbsp;</th>
                <th></th>
            </tr>
            <tr>
                <th colspan="2" align="left">Thông tin tìm kiếm</th>
            </tr>

            <tr align="left">
                <td class="lbl_left">Tên người sử dụng :</td>
                <td align="left">
                    <input th:field="*{userFullName}" class="txBox" type="text" name="loginName" value="" size="20"
                           onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';"/>
                </td>
            </tr>

            <tr align="left">
                <td class="lbl_left">Mã số thẻ bảo hiểm:</td>
                <td align="left">
                    <input class="txBox" type="password" name="password" value="" size="20"
                           onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';"/>
                </td>
            </tr>
            <tr align="left">
                <td class="lbl_left">Nơi đăng ký:</td>
                <td align="left">
                    <input class="txBox" type="password" name="password" value="" size="20"
                           onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <input class="btn btn_wider" type="submit" value="Tìm kiếm"/>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn_wider" type="button" value="Đăng ký"/></td>


            </tr>

        </table>
    </form>
    <!--<div th:if="${}">-->
    <!--<div ></div>-->
    <!--</div>-->

    <table class="tbl_list" border="1" cellpadding="4" cellspacing="0"
           width="80%">

        <tr class="tr2">
            <th align="center">Tên người sử dụng
                <!--<c:choose>-->
                <!--<c:when test="${sortByFullName == 'ASC'}">-->
                <!--<a href="ListUser.do?type=sort&sortType=name&sort=DESC">▲▽</a>-->
                <a th:href="@{/sort}">▲▽</a><br/>

                <!--</c:when>-->
                <!--<c:otherwise>-->
                <!--<a href="ListUser.do?type=sort&sortType=name&sort=ASC">△▼</a>-->
                <!--</c:otherwise>-->
                <!--</c:choose>-->
            </th>
            <th align="left">Giới tính</th>
            <th align="left">Ngày sinh</th>
            <th align="left">Mã số thẻ bảo hiểm</th>
            <th align="left">Kỳ hạn</th>
            <th align="left">Nơi đăng kí KCB</th>

        </tr>
        <!--<tr th:each="user:${tblUsers}">-->
        <tr th:each="user:${tblUserList2}">
            <td th:utext="${user.userFullName}"></td>
            <td th:utext="${user.userSexDivision}"></td>
            <td th:utext="${user.date}"></td>
            <td th:utext="${user.tblInsurance.numberInsurance}"></td>
            <td th:utext="${user.tblInsurance.endDate}"></td>
            <td th:utext="${user.tblInsurance.register}"></td>
        </tr>
        <!--<c:if test="${not empty listUsers }">-->
        <!--<c:forEach items="${ listUsers }" var="user">-->
        <!--<tr>-->
        <!--<td align="right"><a-->
        <!--href="DetailUserController.do?userId=${user.userId}"></a></td>-->
        <!--<td>-->
        <!--<c:out value="${user.fullName}"></c:out>-->
        <!--</td>-->
        <!--<td align="center">-->
        <!--<fmt:formatDate pattern="yyyy/MM/dd"-->
        <!--value="${user.birthDay}"/>-->
        <!--</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td th:each="user:${tblUsers}">-->
        <!--<label th:utext="${user.username}"></label>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</c:forEach>-->
        <!--</c:if>-->
        <!--<c:if test="${empty listUsers}">-->
        <!--<tr>-->
        <!--<td colspan="9" style="color: red" align="center">${notUser}</td>-->
        <!--</tr>-->
        <!--</c:if>-->
    </table>

</div>
</body>
</html>