<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ユーザ管理</title>
</head>
<body>
<!-- Begin vung header -->
<jsp:include page="header.jsp" />

<!-- End vung header -->

<!-- Begin vung dieu kien tim kiem -->
<form action="home.do" method="get" name="mainform">
    <input type="hidden" name="type" value="search">
    <table class="tbl_input" border="0" width="90%" cellpadding="0"
           cellspacing="0">
                    <p>Danh Sách thẻ bảo hiểm</p>

        <tr>
            <td width="100%">
                <table class="tbl_input" cellpadding="4" cellspacing="0">
                    <tr>
                        <td >Tên Công Ty</td>

                        <td></td>
                    </tr>
                    <tr>
                        <td align="left" width="150px">

                            <select name="groupId">
                            <option value="0"id="0">Luvina</option>

                                        <option value="${group.groupId}" selected="selected">Ansoft</option>

                                        <option value="${group.groupId}">FPT</option>
                                <option
                                        ${group.groupId == groupId ? 'selected = "selected"' : ''}
                                value="${fn:escapeXml(group.groupId)}">Viettel</option>
                        </select></td>

                    </tr>
                </table>
            </td>
        </tr>
        <table class="tbl_input" cellpadding="4" cellspacing="0" width="400px">

            <tr>
                <th width="150px">&nbsp;</th>
                <th></th>
            </tr>
            <tr>
                <th colspan="2" align="left">Thông tin tìm kiếm</th>
            </tr>

            <tr align="left" >
                <td class="lbl_left">Tên người sử dụng :</td>
                <td align="left">
                    <input class="txBox" type="text" name="loginName" value="" size="20"
                           onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';"/>
                </td>
            </tr>

            <tr align="left">
                <td class="lbl_left">Mã số thẻ bảo hiểm:</td>
                <td align="left">
                    <input class="txBox" type="password" name="password" value="" size="20"
                           onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';"/>
                </td>
            </tr>
            <tr align="left">
                <td class="lbl_left">Nơi đăng ký:</td>
                <td align="left">
                    <input class="txBox" type="password" name="password" value="" size="20"
                           onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <input class="btn btn_wider" type="submit" value="Tìm kiếm"/>
                </td>
            </tr>
        </table>
        <tr>
            <input class="btn btn_wider" type="submit" value="Đăng ký"/>

        </tr>
    </table>
    <!-- End vung dieu kien tim kiem -->
</form>
<!-- Begin vung hien thi danh sach user -->
<table class="tbl_list" border="1" cellpadding="4" cellspacing="0"
       width="80%">

    <tr class="tr2">
        <th align="center" width="20px">Tên người sử dụng
            <c:choose>
                <c:when test="${sortByFullName == 'ASC'}">
                    <a href="ListUser.do?type=sort&sortType=name&sort=DESC">▲▽</a>
                </c:when>
                <c:otherwise>
                    <a href="ListUser.do?type=sort&sortType=name&sort=ASC">△▼</a>
                </c:otherwise>
            </c:choose>
        </th>
        <th align="left">Giới tính</th>
        <th align="left">Ngày sinh</th>
        <th align="left">Mã số thẻ bảo hiểm</th>
        <th align="left">Kỳ hạn</th>
        <th align="left" width="70px">Nơi đăng kí KCB</th>

        <th align="left">失効日
            <c:choose>
                <c:when test="${sortByEndDate == 'ASC'}">
                    <a href="ListUser.do?type=sort&sortType=date&sort=DESC">▲▽</a>
                </c:when>
                <c:otherwise>
                    <a href="ListUser.do?type=sort&sortType=date&sort=ASC">△▼</a>
                </c:otherwise>
            </c:choose>

        </th>
    </tr>
    <c:if test="${not empty listUsers }">
        <c:forEach items="${ listUsers }" var="user">
            <tr>
                <td align="right"><a
                        href="DetailUserController.do?userId=${user.userId}">${user.userId}</a></td>
                <td><c:out value="${user.fullName}"></c:out></td>
                <td align="center"><fmt:formatDate pattern="yyyy/MM/dd"
                                                   value="${user.birthDay}" /></td>
                <td>${user.groupName}</td>
                <td>${user.email}</td>
                <td>${user.tel}</td>
                <td>${user.nameLevel}</td>
                <td align="center"><fmt:formatDate pattern="yyyy/MM/dd"
                                                   value="${user.endDate}" /></td>
            </tr>
        </c:forEach>
    </c:if>
    <c:if test="${empty listUsers}">
        <tr>
            <td colspan="9" style="color: red" align="center">${notUser}</td>
        </tr>
    </c:if>
</table>
<!-- End vung hien thi danh sach user -->

<!-- Begin vung paging -->
<table>
    <tr>
        <c:if test="${totalPaging > 1}">
            <td class="lbl_paging"><c:if test="${pagingFirst > limitPage}">
                <a
                        href="ListUser.do?type=page&pageType=${pagingFirst - limitPage}">&lsaquo;&lsaquo;</a>
            </c:if> <c:forEach items="${listPages}" var="Paging">
                <c:if test="${Paging == currentPage}">
                    <span>${currentPage} &nbsp;&#124;</span>
                </c:if>
                <c:if test="${Paging != currentPage}">
                    <a href="ListUser.do?type=page&pageType=${Paging}">${Paging}</a>
                    &nbsp;&#124;
                </c:if>
            </c:forEach> <c:if test="${pagingFirst +limitPage <= totalPaging}">
                <a href="ListUser.do?type=page&pageType=${pagingFirst +limitPage}">&rsaquo;&rsaquo;</a>
            </c:if></td>
        </c:if>
    </tr>
</table>
<!-- End vung paging -->
<!-- Begin vung footer -->

<!-- End vung footer -->
</body>
</html>